@import "./variables";

h2 {
    @include header;
    text-align: center;
  }

.container-spacing {
    position: relative;
    padding: 4em;
    height: 100%;
}

.row-spacing {
    position: relative;
    padding: 4em;
    height: 100%;
}

.centered-block {
    display: block;
    margin: 0 auto;
}

.top-title-text {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 3vw;
    color: $smokeyblack;   
    padding: 1em;
}

.border-color-reset {
    background: none;
    border: none;
}


.scale-up {
    &:hover {
        transform: scale(1.1);
      }
}