@import "./variables";
@import "./mixins";

h2 {
    @include header;
    text-align: center;
  }

.centered-block {
    display: block;
    margin: 0 auto;
}

.top-title-text {
    @include font-component($charcoal, 2rem, center, uppercase);
    font-weight: lighter;
    padding: 1em;
}

.title-divider {
    border: 0.75px solid $smokeyblack;
}

.border-color-reset {
    background: none !important;
    border: none !important;
}


.scale-up {
    &:hover {
        transform: scale(1.1);
      }
}

.div__brand {
    margin: 0 auto !important;
    padding: 25px;
    @include font-component($alignment: center, $transform: uppercase);
    img {
        margin: 1em !important;
        width: 56px;
        }
}