@import "./variables";
@import "./mixins";
@import "./abstract";


.app-container {
  position: relative;
  background-color: rgba($color: $darkblue, $alpha: 0.03)
}

.hero__container {
  height: 100vh;
  @include bg-img-full($hero-image, $size: cover);
  @include flex();
  .container__inner {
    margin-top: 8%;
  }
  .hero__prop-img {
    @extend .centered-block;
    background: none;
    border: none;
    width: 80vw;
    max-width: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title-card {
    @extend .centered-block;
    @extend .top-title-text;
    border: 3px solid black;
    background-color: $icewhite;
    width: 90vw;
    max-width: 500px;
    strong {
        font-weight: 900;
      }
    .subtitle {
      font-size: 1rem;
    }
  }

}

.about-container {
  @include flex();
  align-items: center;
  }

  .statement-container {
    width: 80vw;
    max-width: 1200px;
    @include flex();
    padding: 3% 5%;
    .header {
      padding: 5%;
      position: relative;
      border: 4px solid $darkblue;
      text-align: left;
      margin-top: 20%;
      @media screen and (max-width: 600px) {
       margin-top: 50%;
    }
      h2 {
        @include header(3rem);
        margin-left: 35%;
        margin-top: -2%;
        text-align: left;
        @media screen and (max-width: 768px) {
            font-size: 30px;
            text-align: center;
            margin: 0 auto;
        }
        
      }
      img  {
        position: absolute;
        right: 65%;
        top: -100%;
        max-width: 400px;     
      }
    }
    .body {
      margin-top: 8%;
      padding: 1rem;
    }   
  }
 
  .team-container {
    @include flex();
    a:hover {
      text-decoration: none;
      color: $darkblue;
    }


  }


  .member-row {
    padding: 10% 0;
    padding-top: 15%;
    margin: 0 auto;
    @include flex($direction: row, $wrap: wrap);
    @media screen and (max-width: 768px) {
      @include flex($direction: column, $horizontal-pos: center);

  }
  }



  .member-title-card  {
    width: 25vw;
    max-width: 300px;
    .cardimage-container {
      height: 300px !important;
      min-height: 300px;
      max-height: 25vw;
      overflow: hidden;
    }
  
  }

  .individual-view {
    color: $darkblue;
    font-weight: lighter;
    letter-spacing: 0.02rem;
    .inner_col {
      padding: 1em;
      margin: 0 auto;
      width: 25vw;
      max-width: 300px;
      min-width: 300px !important;
    }
    .inner_col:nth-of-type(1){
      @media screen and (max-width: 600px) {
        margin-top: 20%;
     }
    }
    .card-body {
      padding: 1.25rem 0;
      h5, h6 {text-align: left !important;}
    }

    h6 {
      font-weight: bolder;
      text-transform: uppercase;
    }

    button {
      @extend .border-color-reset;
      color: $darkblue;
      margin-top: 10%;
      padding: 0.375rem 0;
      text-transform: uppercase;
    }
  }

  .main-services-container {
    margin-top: 5%;
    .row {
      position: relative;
    }
    .title-card {
      padding: 8em 2em;
      background: $darkblue !important;
      color: $icewhite;
      width: 35%;
      h1 {
        @include header(2em, $icewhite);
        text-align: left;
        font-weight: bolder;
      }
    }
    img {
      position: absolute;
      z-index: -1;
      height: 75%;
      left: 30%;
    }
  }

  .add-services-container {
    flex-flow:row wrap !important;
    .service-card {
      width: 70%;
      .card-body .row {
        margin-top: 5%;
        align-items: flex-start;
        flex-flow:row wrap !important;
      }
      h1 {
        @include header(2em, $icewhite);
        text-align: left;
        text-transform: uppercase;
        font-weight: bolder;
      }
      subtitle {
        font-style: italic;
      }
      ul,li {
        list-style-type: none;
        list-style: none;
        padding-left: 0;      
      }
      .col {
        width: 33%;
        min-width: 200px;
        max-width: 250px;

      }

    }
    .row:nth-child(2) {
      width: 30%;
    }
  }

// .services-container {
//   text-align: center;
//   text-transform: uppercase;
//   background-color: $yellow;
//   height: auto;
//   padding: 4em;
//   h3 {
//     color: black;
//   }
//   .row-inner {
//     display: flex;
//     flex-flow: row wrap;
//     ul {
//       list-style-type: none;
//       width: 100%;
//       height: 100%;
//       display: inline-flex;
//       justify-content: center;
//       flex-flow: row wrap;
//       padding-inline-start: 0px;
//       padding: 0 1em;
//       li {
//         max-width: 200px;
//         width: 40%;
//         height: 200px;
//         max-height: 200px;
//         margin: 0.5em 1em; 
//         text-align: center;
//       }
//     }
//     img {
//       margin-top: 2em;
//       width: 80px;
//       min-width: 80px;
//     }
//     p {
//       min-width: 100%;
//       padding-top: 15px;
//       text-transform: capitalize;
//     }
//   }
//   .btn {
//     display: inline-block;
//     margin: 0 auto;
//     @include btn(black, black);
//   }
// }

// .meet-the-team-container {
//   background-color: black;
//   position: relative;
//   width: 100%;
//   padding: 0;
//   .inner-col {
//     color: white;
//     padding: 0;
//     text-align: center;
//     float: left;
//     height: 100vh;
//     position: relative;
//     width: 100%;
//     h2 {
//       margin-top: 3em;
//     }
//     h6 {
//       text-align: center;
//       padding: 1em;
//       width: 100%;
//     }
//     h6:nth-of-type(1) {
//       margin-top: 2em;
//     }
//     img {
//       display: block;
//       margin: 0 auto;
//       width: auto;
//       height: 500px !important;
//       max-height: 500px;

//     }
//   }
//   .inner-col:nth-of-type(1) {
//     display: flex;
//     flex-flow: column nowrap;
//     align-items: center;
//     justify-content: center;
//   }
//   .inner-col:nth-of-type(2) {
//     background-color: white;
//     height: 100vh;
//     padding: 2em;
//     color: black;
//     text-align: left;
//     p {
//       position: absolute;
//       top: 50%;
//       width: 70%;
//       transform: translateY(-50%);
//     }
//   }
// }


.open-table-top {
  transition: transform 500ms ease 0ms;
  transform: translateY(-200px);
  will-change: transform;
}

.open-table-bottom {
  transition: transform 500ms ease 0ms;
    transform: translateY(200px);
    will-change: transform;
}

.close-table-top {
  transition: transform 500ms ease 0ms;
  transform: translateY(200px);
  will-change: transform;
}

.close-table-bottom {
  transition: transform 500ms ease 0ms;
    transform: translateY(-200px);
    will-change: transform;
}
