@import "./variables";
@import "./mixins";

.container-fluid {
  position: relative;
  height: 100vh;
  padding: 4em;

  .row {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    .col {
      height: 100%;
    }
  }
}

.hero-container {
  background-color: $mainred;
  background-image: url("../img/hero-img-dark.png");
  @include backgroundimg;
}

.about-container {
  padding: 4em;
  min-height: auto;
  .col:first-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 600px;
  }
  .col:nth-child(2) {
    position: absolute;
    top: 0px;
    right: 60px;
    bottom: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
  }
  .btn {
    @include btn(black, black);
  }
}

.services-container {
  text-align: center;
  text-transform: uppercase;
  background-color: $yellow;
  height: auto;
  padding: 4em;
  h3 {
    color: black;
  }
  .row-inner {
    display: flex;
    flex-flow: row wrap;
    .col {
      width: 45%;
      min-width: 300px;
      min-height: auto;
      height: auto !important;
      li {
        list-style-type: none;
        text-align: left;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 400;
        padding: 15px;
      }
    }
  }
  .btn {
    display: inline-block;
    margin: 0 auto;
    @include btn(black, black);
  }
}

.meet-the-team-container {
  background-color: black;
  padding: 0;
  position: relative;
  width: 100%;
  h2 {
    position: absolute;
    top: 25%;
    right: 20%;
    z-index: 1;
  }
  .row {
    display: inline-flex;
    flex-flow: column wrap;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    padding: 0;
    border: 2px solid yellow;
    .inner-col {
      border: 3px solid blue;
      padding: 2em;
      color: white;
      text-align: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 50%;
        border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
    .inner-col:nth-of-type(2) {
      background-color: white;
      height: 100vh;
      color: black;
      text-align: left;
      width: 100%;
      p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
