.footer {
    max-height: auto;
    background-color: black;
    .row{
        display: inline-flex;
        justify-content: center;
        flex-flow: column wrap;
        border:1px solid yellow;
        max-height: 200px;
        width: 100%;
    }
    .col {
        max-width: 300px;
        height: inherit;
        border: 1px solid blue;
    }
}