.form-status {
  color: white;
  height: 500px;
  padding: 10em;
  p {
    font-style: italic;
  }
}

.red-container {
  min-height: 800px;
  height: auto;
  background-color: $mainred;
  .row {
    flex-flow: row nowrap;
    .col {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      text-align: center;
      .message-detail {
        @extend .col;
        height: 100%;
      }
    }
    .btn {
      display: inline-block;
      align-self: center;
      margin: 1em;
      @include btn(white, transparent, white, black);
    }
  }
}

.confirmation-form-container {
  position: relative;
  padding: 30px;
  h4 {
    @include font-component($darkblue, $size: $subheading, );
    font-weight: bold;
  }
  input {
    border: 1px solid #707070;
    border-radius: 0px;
    width: 95%;
  }
  label[for="message"] {
    width: 100%;
  }
  label {
    min-width: 50%;
    display: inline-block;
  }
}

.checkbox {
  border: 1px solid $darkblue;
  background-color: $darkblue;
  label{ 
    position: relative;
    padding:0.5em 1em;
    @include font-component($darkblue, $body-fontsize, center, uppercase);
    font-weight: normal;
  }
  input[type="checkbox"] {
    width: 100%;
    margin: 0;
  }
}

.form-submit-btn {
  float: right;
  width: 33%;
  border-radius: 0px !important;
  background-color: $darkblue !important;
  @include font-component($icewhite, $body-fontsize, center, uppercase);

}

.subject-type {
  // border: 1px solid red;
  h5 {    
    @include font-component($darkblue, $body-fontsize, center, uppercase);
    font-weight: bold;
  }
}