@import "./variables";
@import "./mixins";
@import "./abstract";
nav {
    position: fixed;
    background-color: $darkblue;
    width: 100%;
    padding: 1em;
    height: 80px;
    z-index: 1;
    @include font-component($size: 10px, $transform: uppercase);
    a {
        color: $icewhite;
        @extend .centered-block;
    }
    button {
        color: $icewhite;
        border-color: $icewhite;
    }
    .navbar {
        padding: 0;
    }
    .navbar-expand-md .navbar-collapse {
        background-color: $darkblue;
        justify-content: flex-end;
    }
    .nav-item {
        letter-spacing: 2px;
        margin: 0 25px;
        align-self: center;
        text-align: center;
        :hover, :active {
            letter-spacing: 2px;
            color: $icewhite;
            text-decoration: none;
        }
        :after,
        :before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        bottom: 0px;
        content: " ";
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
        @extend .centered-block;
        }
        :hover:after,
        :hover:before {
        backface-visibility: hidden;
        border-color: #fff;
        transition: width 350ms ease-in-out;
        width: 70%;
        }

        :hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
        }
    }
}

.nav__contact {
    padding: 0 1em;
    border: 1px solid $icewhite;
    overflow: hidden;
    position: relative;
    
    a {
      z-index: 20;
    }
    
    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }
  }
  
  .nav__contact:hover {
    
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }


.nav-norm {

}

.nav-alt {
    background-color: transparent;
    @include flex;
    @include font-component($transform: uppercase);
    .navbar-nav, .navbar {
        width: 100%;
        margin: 0 auto;
    }
    .nav-item {
        width: 100%;
    }
}
