@import "./variables";
@import "./mixins";
@import "./abstract";
nav {
    position: fixed;
    background-color: $darkblue;
    width: 100%;
    padding: 0 !important;
    height: 80px;
    z-index: 1;
    @include font-component($size: 10px, $transform: uppercase);
    a {
        color: $icewhite;
        @extend .centered-block;
    }
    button {
        color: $icewhite;
        border-color: $icewhite;
    }
    .navbar-nav {
        position: relative;
        width: 100%;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            overflow-x: scroll;     
        }
    }
    .navbar-brand {
        padding: 0;
        margin: 1em !important;
    }
    .navbar-expand-md .navbar-collapse {
        background-color: $darkblue;
        justify-content: flex-end;
    }
    img {
        margin: 0em !important;
        width: 56px;
        }
    .nav-item {
        letter-spacing: 2px;
        margin: 0 25px;
        align-self: center;
        text-align: center;
        min-width: 10vw;
        :hover, :active {
            letter-spacing: 2px;
            color: $icewhite;
            text-decoration: none;
        }
        :after,
        :before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        bottom: 0px;
        content: " ";
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
        @extend .centered-block;
        }
        :hover:after,
        :hover:before {
        backface-visibility: hidden;
        border-color: #fff;
        transition: width 350ms ease-in-out;
        width: 70%;
        }

        :hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
        }
    }
    .align-right {
        @include flex($direction: row);
        @media screen and (max-width: 425px) {
            padding: 1em;
            @include flex($direction: column, $horizontal-pos: center);
            .nav-item {
                padding: 1em;
            }
        }
    }
    .nav-default {
        @include flex($direction: row);
    }
    .centered-nav {
        @include flex($direction: row);
        @media screen and (max-width: 425px) {
            padding: 1em;
            @include flex($direction: column, $horizontal-pos: center);
            .nav-item {
                padding: 1em;
            }
        }
    }
}


.nav-alt {
    background-color: transparent;
    @include flex;
    @include font-component($transform: uppercase);
    .navbar-nav, .navbar {
        width: 100%;
        margin: 0 auto;
    }
}

.div-brand-alt {
    padding: 0 1em !important;
    align-items: center;
    line-height: 80px;
    p {
        padding: 0 1em;
        margin-bottom: 0;
    }
}