nav {
    position: absolute;
    background-color: transparent;
    width: 100%;
    padding: 15px;
    a {
        color: white;
    }
    .nav-item {
        float: right;
        letter-spacing: 2px;
        padding: 0 15px;
    }
}