@import "./variables";
@import "./mixins";
@import "./abstract";


.container-fluid, .container {
    @include flex;
    padding-bottom: 100px;
    .row {
      @include flex;
      .col {
        @include flex;
      }
    }
  }

.card {
    background: none !important;
    border: none !important;
    width: 100%;

    .card-body {
        .card-title {
          @include header(1.5em);
          font-style: normal;
          font-weight: bolder;
          padding-bottom: 0;
        }
        .card-subtitle {
          @include header(1em, $yellow);
        }
      }
}