$mainred: #B82626;
$yellow: #D89E00;
$darkblue: #070C29;
$icewhite: #fff;
$smokeyblack: #333;
$paleblue: #E5E1ED;
$charcoal: #161519;
$nightblack: #0B0B0B;

$body-fontsize: calc(0.55em + 1vmin);
$subheading: calc(0.75em + 1vmax);
$heading: calc(1em + 1vmax);
$title: calc(2.5em + 1vmax);
$label: calc(0.33em + 1vmin);


$font-stack: "Roboto", Arial, Helvetica, sans-serif;

$path--image: "../img/";
$hero-image: 'hero-img.png';
$project-image: 'hero-projects.png';
$contact-us-img: 'contact-us-modal.png';