$mainred: #B82626;
$yellow: #D89E00;
$darkblue: #070C29;
$icewhite: #fff;
$smokeyblack: #333;
$paleblue: #E5E1ED;
$charcoal: #161519;
$nightblack: #0B0B0B;

$body-fontsize: 1em;

$path--image: "../img/";
$hero-image: 'hero-img.png';