@import "./container";
@import "./navbar";
@import "./variables";

body {
  h1 {
    font-size: 8vmax;
    font-weight: 800;
  }
  h6 {
    font-weight: 300;
  }
  
  h2 {
    font-size: 4vw;
    font-weight: bolder;
  }
  p {
    font-weight: 100;
  }
  img {
    width: 100%;
  }
  
  a {
    color: white;
    text-align: right;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  header {
    color: white;
    span {
      width: 100%;
    }
  }
  .btn {
    @include btn;
  }
}


